.body {
    background-color: #bad3f5;
}


.income-grid{
    display: grid;
}

.paycheck{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

.paycheck label{
    font-size: 1.3rem;
    font-weight: bold;
}

.paycheck input{
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 5px;
    text-align: center;
}


.paycheck button{
    font-size: 1.2rem;
    padding: 10px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paycheck button:hover{
    background-color: #ebebeb;
}

.to-expenses {
    font-size: 2rem;
    font-weight: bold;
}