.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.paycheck-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: start;
}

.field label{
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.field input, button, select{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    gap: 5px;
}

.field button{
    gap: 10px;
    font-size: 0.9rem;
    padding: 10px;
    width: 75px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.field button:hover{
    background-color: #ebebeb;
}

.buttons-group{
    display: flex;
    gap: 2rem;
    padding: 5px;
}

#money-wheel {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: conic-gradient(
    red 0deg var(--bill-deg),
    green var(--bill-deg) 360deg
    );

}

#money-wheel-container{
    display: flex;
    justify-content: left;
    align-items: center;
}

.bills-table {
    width: 500px;
    align-items: right;
}
.bills-container {

}

.bills-container button {
    width: 500px;
}

