<!--
This is where the main application will live
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/home.css' %}">


</head>


<body>


<div class="income-grid">
    <div class="paycheck">
        <label for="paycheck">Paycheck</label><br>
        <input type="text" name="paycheck" id="paycheck">
        <button type="submit">Submit</button>
    </div>

</div>

<p class="to-expenses"><a href="expenses/">Expenses</a></p>
</body>

</html>