<!--
This is where new users will be able to create their accounts.
Parameters:
Username (check if exists())
Password (user.set_password(), check at least {
one special character, one upper, one lower, one number
}
Email (check validation)
-->



<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">

</head>

<body>



<div class="center-box">
    <h1 class="header">Let's Set-up Your Account</h1>
    {% if errors %}
    <div class="errors">
            <ul class="errors">
                {% for error in errors %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ username }}"><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ email }}"><br><br>

        <div class="password-container">
            <label for="password">Password:</label><br>

            <input type="password" name="password" id="password">

            <div class="tooltip-box">
                Password must include:<br>
                8 characters<br>
                1 uppercase<br>
                1 lowercase<br>
                1 number<br>
                1 special character (e.g. !@#$$%?)
            </div>

            <br><br>

        </div><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password">

        <p class="form-link"><a href="/login">Already have an account?</a></p>
        <button type="submit">Create Account</button>
    </form>
</div>
</body>
</html>